/* Body */
body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

/* Header */
.page-header {
  height: 50vh;
  min-height: 300px;
  background: url('../img/header1.jpg') center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.header-text {
  padding-top: 30px;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: #FFFFFF;
  margin: 0;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

/* Line */
hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #00A500;
  border-radius: 15px; 
}

hr.light {
  border-color: #fff; 
}

/* Card */
.card {
  height: 100%;
}

/* Footer */
.footer-bg {
  background-color:#292D2F;
}

/* Map */
#mapid { 
  height: 180px; 
}

/* Image */
.img-center {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.img-center-80 {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:80%;
}
.img-center-75 {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:75%;
}
.img-center-70 {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:70%;
}
.img-dies {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:65%;
}
